:root {
    --font-family-main: 'Hanken Grotesk', sans-serif;
    --font-family-second: "Noto Serif", serif;
    --color-corp: #091D2E;
    --color-corp-2: #1E1E1E;
    --color-light: #D9D9D9;
    --color-secondary: #C3A876;
}



body {
    /* font-family: var(--font-family-main); */
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: none;
}


/* typography */
.text-4xl {
    font-size: clamp(2.125rem, 1.3rem + 4.125vw, 6.25rem);
}

.text-3xl {
    font-size: clamp(1.5rem, 0.8rem + 3.5vw, 5rem);
}

.text-2xl {
    font-size: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
}

.text-xl {
    font-size: clamp(1.625rem, 1.325rem + 1.5vw, 3.125rem);
}

.text-lg {
    font-size: clamp(1.5rem, 1.25rem + 1.25vw, 2.75rem);
}

.text-md {
    font-size: clamp(1.125rem, 1rem + 0.625vw, 1.75rem);
}

.text-sm {
    font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
}

.text-xs {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.text-2xs {
    font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem) !important;
}


/* utils */
.ff-second {
    font-family: var(--font-family-second);
}

.text-corp {
    color: var(--color-corp)
}

.text-corp-2 {
    color: var(--color-corp-2)
}

.text-light-2 {
    color: #C7C6C4;
}

.text-acsent {
    color: var(--color-secondary);
}

.bg-corp {
    background: var(--color-corp);
}

.bg-corp-2 {
    background: var(--color-corp-2);
}

.bg-dark-2 {
    background: #0E1317;
}

.bg-main {
    background: #F2F1EE;
}

.vh-lg-100 {
    height: 100vh;
}

.w-fit-content {
    width: fit-content;
}

.w-max-content {
    width: max-content !important;
}

.w-lg-fit-content {
    width: fit-content;
}

.position-md-absolute {
    position: absolute;
}

.position-lg-absolute {
    position: absolute;
}

.btn {
    border-radius: 0;
    min-width: 250px;
    padding: 10px 10px;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.btn-corp {
    background: var(--color-secondary);
    color: white;
}

.btn-white {
    background: white;
    color: var(--color-corp);
}

.btn-outline-corp {
    border: 1px solid var(--color-corp);
}

.btn-outline-white {
    border: 1px solid white;
    color: white;
}

.btn-long {
    min-width: 300px;
}

.w-md-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-90 {
    width: 90%;
}

.border-corp {
    border-color: var(--color-corp-2) !important;
}

.position-md-absolute {
    position: absolute;
}

/* bootstrap components castomization */

.navbar-toggler:focus {
    box-shadow: none;
}

.main-header .nav-link {
    color: white;
}

.main-header .nav-link:hover {
    color: rgb(149, 149, 149);
}

.main-header .navbar-toggler-icon {
    background-image: url('icons/main-icons/burger.svg');
    width: 1em;
    height: 1em;
}

.navbar-toggler {
    border: none;
}

.dropdown-toggle::after {
    border: none;
    content: "\F282";
    font-family: 'bootstrap-icons';
    font-size: 0.9rem;
    margin-left: 0.2em;
    vertical-align: middle;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: unset;
    right: 0;
    border-radius: 0;
    background: var(--color-corp-2);
    border: 1px solid var(--color-secondary);
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--color-secondary);
}

.dropdown-item {
    color: white !important;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
    background: var(--color-corp-2) !important;
    padding: 20px 0px 20px 10px;
}

/* custom styles */
header {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.6s ease;
    font-size: 14px;
    font-family: "Inter",
        sans-serif !important;
}

header.scrolled {
    background: var(--color-corp-2);
    backdrop-filter: blur(8px);
}

.logo {
    width: 150px;
}

.icon-size-md {
    height: 70px;
}

.icon-size-sm {
    height: 60px;
}

.icon-size-xs {
    height: 41px;
}

.direction-card * {
    transition: all 0.3s ease;
}

.height-45 {
    height: 45px;
}

.direction-card:hover i {
    color: var(--color-secondary);
    transform: translateX(20px);
}

.line {
    background: var(--color-secondary);
    height: 1px;
    width: 150px;
}

.custom-accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-active-color: #111;
    --bs-accordion-btn-focus-box-shadow: none;
}

.custom-accordion .accordion-item {
    background: transparent;
    border: none;
    border-bottom: 1px solid #8c8c8c;
}

.custom-accordion .accordion-button {
    position: relative;

    padding: 18px 28px 12px 0;
    font-family: var(--font-family-second);
    font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);

    background: transparent;
    box-shadow: none;

    color: #111;
    font-weight: 400;
    line-height: 1.2;
}

.custom-accordion .accordion-button:not(.collapsed) {
    background: transparent;
    color: #111;
    box-shadow: none;
}

/* Убираем стандартную Bootstrap стрелку */
.custom-accordion .accordion-button::after {
    content: "×";

    position: absolute;
    right: 2px;
    top: 50%;

    width: auto;
    height: auto;

    margin: 0;

    background-image: none;

    font-size: 15px;
    font-weight: 300;
    line-height: 1;

    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

/* Когда открыт */
.custom-accordion .accordion-button:not(.collapsed)::after {
    transform: translateY(-50%) rotate(45deg);
}

/* Текст ответа */
.custom-accordion .accordion-body {
    padding: 0 28px 10px 0;

    color: #777;
    font-weight: 400;
    line-height: 1.25;
}

.icon-wrapper {
    border: 1px solid var(--color-secondary);
}

.icon-size-2xs {
    height: 30px;
}

.border-light-2 {
    border-color: #525252 !important;
}

.accordion-light.custom-accordion .accordion-button:not(.collapsed),
.accordion-light.custom-accordion .accordion-button {
    color: white;
}

.accordion-light.custom-accordion .accordion-button::after {
    color: white;
}

.accordion-light.custom-accordion .accordion-body {
    color: #E6E6E6;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }
}

@media(max-width: 1400px) {
    .direction-card p.text-2xs {
        height: 55px;
    }
}

@media(max-width: 1200px) {
    .w-xl-fit-content {
        width: 100%;
    }
}

@media(max-width: 990px) {
    .w-lg-fit-content {
        width: 100%;
    }

    .banner-img {
        height: 500px;
    }

    .icon-size-md {
        height: 50px;
    }

    .icon-size-sm {
        height: 40px;
    }

    .header {
        font-size: 18px;
    }

    .vh-lg-100 {
        height: unset;
    }

    .p-custom {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .logo {
        width: 80px;
    }

    .footer-logo {
        width: 150px;
    }
}

@media(max-width: 768px) {
    .position-md-absolute {
        position: unset;
    }

    .w-md-50 {
        width: 100%;
    }
}

@media(max-width: 576px) {
    .direction-card p.text-2xs {
        height: unset;
    }
}